:root {
  --md-sys-color-primary: rgb(234 181 238);
  --md-sys-color-surface-tint: rgb(234 181 238);
  --md-sys-color-on-primary: rgb(72 32 79);
  --md-sys-color-primary-container: rgb(97 55 103);
  --md-sys-color-on-primary-container: rgb(255 214 255);
  --md-sys-color-secondary: rgb(215 191 213);
  --md-sys-color-on-secondary: rgb(59 43 60);
  --md-sys-color-secondary-container: rgb(82 65 83);
  --md-sys-color-on-secondary-container: rgb(244 219 242);
  --md-sys-color-tertiary: rgb(246 184 174);
  --md-sys-color-on-tertiary: rgb(76 37 32);
  --md-sys-color-tertiary-container: rgb(103 59 53);
  --md-sys-color-on-tertiary-container: rgb(255 218 213);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(23 18 23);
  --md-sys-color-on-background: rgb(234 223 230);
  --md-sys-color-surface: rgb(23 18 23);
  --md-sys-color-on-surface: rgb(234 223 230);
  --md-sys-color-surface-variant: rgb(77 68 76);
  --md-sys-color-on-surface-variant: rgb(208 195 204);
  --md-sys-color-outline: rgb(153 141 150);
  --md-sys-color-outline-variant: rgb(77 68 76);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(234 223 230);
  --md-sys-color-inverse-on-surface: rgb(53 47 52);
  --md-sys-color-inverse-primary: rgb(123 78 128);
  --md-sys-color-primary-fixed: rgb(255 214 255);
  --md-sys-color-on-primary-fixed: rgb(48 9 56);
  --md-sys-color-primary-fixed-dim: rgb(234 181 238);
  --md-sys-color-on-primary-fixed-variant: rgb(97 55 103);
  --md-sys-color-secondary-fixed: rgb(244 219 242);
  --md-sys-color-on-secondary-fixed: rgb(37 23 38);
  --md-sys-color-secondary-fixed-dim: rgb(215 191 213);
  --md-sys-color-on-secondary-fixed-variant: rgb(82 65 83);
  --md-sys-color-tertiary-fixed: rgb(255 218 213);
  --md-sys-color-on-tertiary-fixed: rgb(51 17 13);
  --md-sys-color-tertiary-fixed-dim: rgb(246 184 174);
  --md-sys-color-on-tertiary-fixed-variant: rgb(103 59 53);
  --md-sys-color-surface-dim: rgb(23 18 23);
  --md-sys-color-surface-bright: rgb(62 55 61);
  --md-sys-color-surface-container-lowest: rgb(17 13 17);
  --md-sys-color-surface-container-low: rgb(31 26 31);
  --md-sys-color-surface-container: rgb(35 30 35);
  --md-sys-color-surface-container-high: rgb(46 40 45);
  --md-sys-color-surface-container-highest: rgb(57 51 56);
}
