:root {
  --md-sys-color-primary: rgb(255 249 250);
  --md-sys-color-surface-tint: rgb(234 181 238);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(239 185 242);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 249 250);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(219 196 217);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 248);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(250 188 178);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(23 18 23);
  --md-sys-color-on-background: rgb(234 223 230);
  --md-sys-color-surface: rgb(23 18 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(77 68 76);
  --md-sys-color-on-surface-variant: rgb(255 249 250);
  --md-sys-color-outline: rgb(212 199 209);
  --md-sys-color-outline-variant: rgb(212 199 209);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(234 223 230);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(65 26 72);
  --md-sys-color-primary-fixed: rgb(255 220 254);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(239 185 242);
  --md-sys-color-on-primary-fixed-variant: rgb(42 4 50);
  --md-sys-color-secondary-fixed: rgb(248 223 246);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(219 196 217);
  --md-sys-color-on-secondary-fixed-variant: rgb(31 17 33);
  --md-sys-color-tertiary-fixed: rgb(255 224 219);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(250 188 178);
  --md-sys-color-on-tertiary-fixed-variant: rgb(44 12 8);
  --md-sys-color-surface-dim: rgb(23 18 23);
  --md-sys-color-surface-bright: rgb(62 55 61);
  --md-sys-color-surface-container-lowest: rgb(17 13 17);
  --md-sys-color-surface-container-low: rgb(31 26 31);
  --md-sys-color-surface-container: rgb(35 30 35);
  --md-sys-color-surface-container-high: rgb(46 40 45);
  --md-sys-color-surface-container-highest: rgb(57 51 56);
}
