:root {
  --md-sys-color-primary: rgb(239 185 242);
  --md-sys-color-surface-tint: rgb(234 181 238);
  --md-sys-color-on-primary: rgb(42 4 50);
  --md-sys-color-primary-container: rgb(177 128 181);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(219 196 217);
  --md-sys-color-on-secondary: rgb(31 17 33);
  --md-sys-color-secondary-container: rgb(159 138 159);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(250 188 178);
  --md-sys-color-on-tertiary: rgb(44 12 8);
  --md-sys-color-tertiary-container: rgb(186 131 123);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(23 18 23);
  --md-sys-color-on-background: rgb(234 223 230);
  --md-sys-color-surface: rgb(23 18 23);
  --md-sys-color-on-surface: rgb(255 249 250);
  --md-sys-color-surface-variant: rgb(77 68 76);
  --md-sys-color-on-surface-variant: rgb(212 199 209);
  --md-sys-color-outline: rgb(171 159 169);
  --md-sys-color-outline-variant: rgb(139 128 137);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(234 223 230);
  --md-sys-color-inverse-on-surface: rgb(46 40 45);
  --md-sys-color-inverse-primary: rgb(98 56 104);
  --md-sys-color-primary-fixed: rgb(255 214 255);
  --md-sys-color-on-primary-fixed: rgb(36 0 45);
  --md-sys-color-primary-fixed-dim: rgb(234 181 238);
  --md-sys-color-on-primary-fixed-variant: rgb(78 38 85);
  --md-sys-color-secondary-fixed: rgb(244 219 242);
  --md-sys-color-on-secondary-fixed: rgb(26 12 27);
  --md-sys-color-secondary-fixed-dim: rgb(215 191 213);
  --md-sys-color-on-secondary-fixed-variant: rgb(65 49 66);
  --md-sys-color-tertiary-fixed: rgb(255 218 213);
  --md-sys-color-on-tertiary-fixed: rgb(37 7 5);
  --md-sys-color-tertiary-fixed-dim: rgb(246 184 174);
  --md-sys-color-on-tertiary-fixed-variant: rgb(83 43 37);
  --md-sys-color-surface-dim: rgb(23 18 23);
  --md-sys-color-surface-bright: rgb(62 55 61);
  --md-sys-color-surface-container-lowest: rgb(17 13 17);
  --md-sys-color-surface-container-low: rgb(31 26 31);
  --md-sys-color-surface-container: rgb(35 30 35);
  --md-sys-color-surface-container-high: rgb(46 40 45);
  --md-sys-color-surface-container-highest: rgb(57 51 56);
}
