@media print {
    body {
        background-color: #FFF
    }

    .card {
        background-color: unset !important;
        border: unset !important;

        padding-top: 0;
        padding-bottom: 0;
    }

    .application-header {
        display: none;
    }

    .list-item-header-layout {
        flex-direction: column;
    }

    .card-actions {
        flex-wrap: wrap;
    }

    .section {
        margin: 0;
    }

    .section-header {
        margin-bottom: 12px;
    }

    :root {
        --md-sys-typescale-display-large-font-weight: 400;
        --md-sys-typescale-display-large-font-size: 32px;
        --md-sys-typescale-display-large-line-height: 52px;
        --md-sys-typescale-display-large-letter-spacing: -0.15px;

        --md-sys-typescale-display-medium-font-weight: 400;
        --md-sys-typescale-display-medium-font-size: 30px;
        --md-sys-typescale-display-medium-line-height: 44px;
        --md-sys-typescale-display-medium-letter-spacing: 0px;

        --md-sys-typescale-display-small-font-weight: 400;
        --md-sys-typescale-display-small-font-size: 28px;
        --md-sys-typescale-display-small-line-height: 36px;
        --md-sys-typescale-display-small-letter-spacing: 0px;

        --md-sys-typescale-headline-large-font-weight: 400;
        --md-sys-typescale-headline-large-font-size: 24px;
        --md-sys-typescale-headline-large-line-height: 32px;
        --md-sys-typescale-headline-large-letter-spacing: 0px;

        --md-sys-typescale-headline-medium-font-weight: 400;
        --md-sys-typescale-headline-medium-font-size: 20px;
        --md-sys-typescale-headline-medium-line-height: 28px;
        --md-sys-typescale-headline-medium-letter-spacing: 0px;

        --md-sys-typescale-headline-small-font-weight: 400;
        --md-sys-typescale-headline-small-font-size: 18px;
        --md-sys-typescale-headline-small-line-height: 24px;
        --md-sys-typescale-headline-small-letter-spacing: 0px;

        --md-sys-typescale-body-large-font-weight: 400;
        --md-sys-typescale-body-large-font-size: 14px;
        --md-sys-typescale-body-large-line-height: 22px;
        --md-sys-typescale-body-large-letter-spacing: 0.3px;

        --md-sys-typescale-body-medium-font-weight: 400;
        --md-sys-typescale-body-medium-font-size: 12px;
        --md-sys-typescale-body-medium-line-height: 18px;
        --md-sys-typescale-body-medium-letter-spacing: 0.1px;

        --md-sys-typescale-body-small-font-weight: 400;
        --md-sys-typescale-body-small-font-size: 10px;
        --md-sys-typescale-body-small-line-height: 16px;
        --md-sys-typescale-body-small-letter-spacing: 0.2px;

        --md-sys-typescale-label-large-font-weight: 500;
        --md-sys-typescale-label-large-font-size: 12px;
        --md-sys-typescale-label-large-line-height: 18px;
        --md-sys-typescale-label-large-letter-spacing: 0.05px;

        --md-sys-typescale-label-medium-font-weight: 500;
        --md-sys-typescale-label-medium-font-size: 10px;
        --md-sys-typescale-label-medium-line-height: 16px;
        --md-sys-typescale-label-medium-letter-spacing: 0.2px;

        --md-sys-typescale-label-small-font-weight: 500;
        --md-sys-typescale-label-small-font-size: 9px;
        --md-sys-typescale-label-small-line-height: 14px;
        --md-sys-typescale-label-small-letter-spacing: 0.2px;

        --md-sys-typescale-title-large-font-weight: 400;
        --md-sys-typescale-title-large-font-size: 18px;
        --md-sys-typescale-title-large-line-height: 24px;
        --md-sys-typescale-title-large-letter-spacing: 0px;

        --md-sys-typescale-title-medium-font-weight: 500;
        --md-sys-typescale-title-medium-font-size: 14px;
        --md-sys-typescale-title-medium-line-height: 20px;
        --md-sys-typescale-title-medium-letter-spacing: 0.1px;

        --md-sys-typescale-title-small-font-weight: 500;
        --md-sys-typescale-title-small-font-size: 12px;
        --md-sys-typescale-title-small-line-height: 18px;
        --md-sys-typescale-title-small-letter-spacing: 0.05px;
    }
}