body {
    font-family: 'Noto Color Emoji', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: var(--md-sys-color-surface);
}

a {
    text-decoration: underline;
}

.top-app-bar {
    width: 100%;
    height: 64px;

    background-color: var(--md-sys-color-surface);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;
    gap: 24px;
}

.top-app-bar-trailing {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.top-app-bar-trailing-icon {
    color: var(--md-sys-color-on-surface-variant);
    flex-shrink: 0;
}

.container {
    max-width: 960px;
    padding: 2rem;

    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main {
    display: flex;
    flex-direction: column;
}

.card.summary {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}

.card {
    display: flex;
    flex-direction: column;

    padding: 24px;
    gap: 12px;
    border-radius: 12px;

    line-height: 1.8;

    overflow: hidden;
}

.card:not(.tertiary) {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);

    border: 1px solid var(--md-sys-color-outline-variant);
}

.card.tertiary {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}

.card-actions {
    display: flex;
    flex-direction: row;

    padding: 8px 0;

    gap: 8px;
}

.chip {
    display: flex;
    flex-direction: row;

    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--md-sys-color-outline);

    height: 32px;

    padding: 0 8px;

    overflow: hidden;
    white-space: nowrap;

    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

.chip .chip-icon {
    padding-right: 8px;

    color: var(--md-sys-color-on-surface-variant);
    font-size: 18px;

    flex-shrink: 0;
}

.chip .chip-label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.chip svg.chip-icon path {
    fill: var(--md-sys-color-on-surface-variant);
}

.chip .chip-label {
    color: var(--md-sys-color-on-surface-variant);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list .list-item-headline {
    color: var(--md-sys-color-on-surface);
}

.list .list-item-supporting-text {
    color: var(--md-sys-color-on-surface-variant);
}

.list .list-item-trailing-supporting-text {
    color: var(--md-sys-color-on-surface-variant);

    text-align: center;
}

.list-item {
    display: flex;
    flex-direction: column;
}

.list-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 16px;
}

.list-item-header-monogram {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.list-item-header-monogram img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.list-item-header-text {
    display: flex;
    flex-direction: column;
}

.list-item-content {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.list-item-header-layout {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.list-item-header-layout-left {
    display: flex;
    flex-direction: column;
}

.list-item-link {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.list-item-link .link-icon {
    padding-right: 2px;

    color: var(--md-sys-color-on-surface-variant);
    font-size: 12px;
}

.list.unordered {
    gap: 0;
}

.list.unordered .list-item-header-layout-left {
    flex-direction: row;

    align-items: center;

    gap: 5px;
}

@media screen and (max-width: 960px) {
    .chip.shrinkable {
        padding-right: 0;
    }

    .chip.shrinkable .chip-label {
        display: none;
    }
}


@media (max-width: 960px) {
    .list-item-header-layout {
        flex-direction: column;
    }
}

.section {
    margin: 48px 0;
}

@media screen and (max-width: 1294px) {
    .section {
        margin: 40px 0;
    }
}

@media screen and (max-width: 960px) {
    .section {
        margin: 32px 0;
    }
}

.section-header {
    margin: 24px;
}

.section-plain .section-header {
    margin: 24px 24px 0;
    padding-bottom: 18px;
}

.section-plain .section-content {
    margin: 0 24px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: circle;
    gap: 2px;
}

ul li {
    display: list-item;
    margin-left: 20px;
}

b {
    font-weight: 700;
}

@media (prefers-color-scheme: dark) {
    .show-when-light-only {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    .show-when-dark-only {
        display: none;
    }
}